nav {
    display: flex;
    height: 90px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: #21222A;
    padding: 0 10px;
}

.logo-items {
    font-size:25px;
    display: flex;
    color: #61DAFB;
    flex-direction: row;
    gap: 10px;
}
nav > h4 {
    font-size:16px;
}